<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniproject.foodindi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/foodindi_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodindi">
        <activity android:name=".OrderCompleteActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OrderPlacedActivity" />
        <activity android:name=".PaymentGatwayActivity" />
        <activity android:name=".PaymentMethodActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".SingleFoodActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".TutorialActivity3" />
        <activity android:name=".TutorialActivity2" />
        <activity android:name=".TutorialActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>